* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-grey: rgb(211, 211, 211);
  --dark-grey: white;
  --black: #090a0f;
  --main-padding: 20px;
  --main-height: 50vh
}

body {
  height: 50vh;
  background: radial-gradient(
    ellipse at bottom,
    var(--light-grey) 0%,
    var(--black) 110%
  );
  overflow: hidden;
}

main {
  font-family: "Great Vibes", cursive;
  padding: var(--main-padding);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#left_section {
  width: 50%;
  float: left;
  overflow: auto;
  height: var(--main-height);
  padding: var(--main-padding);
  #left_top_div {
    h1 {
      font-size: 40px;
      padding: 10px 0;
    }
    p {
      color: var(--dark-grey);
      padding: var(--main-padding) 0;
    }
  }
  #left_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding: var(--main-padding) 0;
    .box {
      height: 65px;
    }
  }
}

#right_section {
  height: var(--main-height);
  width: 50%;
  float: right;
  overflow: auto;
  padding: var(--main-padding);
  #box_right {
    background-color: var(--light-grey);
    height: 200px;
  }
  #right_bottom_div {
    border: 1px solid var(--dark-grey);
    padding: var(--main-padding);
    h1 {
      font-size: 40px;
      padding: 10px 0;
    }
    p {
      color: var(--dark-grey);
    }
  }
}

/* -------- Falling Snow ---------*/
@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.00001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}